*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(75deg, #514a9d, #24c6dc);
  background-size: 400%;
  animation: bg-animation linear 20s infinite alternate-reverse;
}

.App {
  font-size: clamp(0.5em, 2.5vmin, 1.5em);
  margin: 0.9%;
}

.score {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;
  margin-top: 1%;
  z-index: 0;
}

.game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.7em;
}
/*  BG ANimation=========================================================================================================================== */

@keyframes bg-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* MEDIA QUERIES  ==============================================================================================*/

@media (min-width: 320px) and (max-width: 1200px) {
  body {
    padding: 0%;
  }

  .Nav {
    font-size: 125%;
  }

  .App {
    height: 98vh;
  }

  .score {
    font-size: 170%;
  }

  /* =================== stats ======================== */

  .Stats-container {
    margin: 1.5%;
    margin-top: 3%;
    height: 13%;
  }

  .stats {
    align-items: center;
    height: 100%;
    font-size: 130%;
  }

  /* =================== alert ======================== */

  .alert-container {
    margin-top: 2%;
    font-size: 125%;
  }

  /* =================== game ======================== */

  .game {
    height: 75%;
  }
  .game-container {
    height: 100%;
    width: 95%;
    flex-direction: column;
  }

  /* =================== board ======================== */

  .board-container {
    display: flex;
    margin-top: 0;
    width: 75%;
    height: 70%;
    margin-bottom: 0.3em;
  }
  .board {
    font-size: 125%;
    height: 90%;
    width: 100%;
  }
  .row {
    height: 100%;
    width: 100%;
  }

  .tileEmpty,
  .tileFilled,
  .tileFilled2 {
    margin: 0.8%;
  }

  /* ====================KEYBOARD============================= */

  .keyboard {
    height: 27%;
    width: 100%;
  }
  .keyboard-container {
    height: 100%;
    width: 100%;
    font-size: 145%;
  }
  .line1,
  .line2,
  .line3 {
    height: 30.5%;
  }

  .line3 > .big {
    width: 16%;
  }

  /* =================== game-over ======================== */

  .gameover-container {
    font-size: large;
  }
}
