*,
*::after,
*::before {
  font-family: Arial;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* width: 100%; */
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  /* border: purple 0.2em solid; */
  /* border: red 0.2em solid; */
}

.App {
  overflow: hidden;
  /* height: 100vh; */
  /* width: 100%; */
  /* border: red 0.2em solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  background: rgb(18, 18, 18);
  background-image: linear-gradient(75deg, #514a9d, #24c6dc);
  background-size: 400%;
  animation: bg-animation linear 20s infinite alternate-reverse;
}

.Nav {
  border-bottom: 0.13em solid hsla(0, 0%, 94%, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

nav > h1 {
  font-family: sans-serif;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: solid;
}

.title {
  border-radius: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  z-index: 0;
  height: 75%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.7em;
}

/* BG ANimation */
@keyframes bg-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* MEDIA QUERIES  ==============================================================================================*/

@media (min-width: 320px) and (max-width: 1200px) {
  .App {
    height: 100%;
  }
  .Nav {
    height: 10%;
  }
  .title {
    font-size: 1.5em;
  }

  .Stats-container {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
  }

  .stats {
    align-items: center;
    height: 100%;
    font-size: 1.25em;
  }

  .game-container {
    height: 99%;
    width: 95%;
    flex-direction: column;
    /* border: orange solid 0.1em; */
  }
  /* =================== board ======================== */

  .board-container {
    display: flex;
    margin-top: 0;
    width: 75%;
    height: 70%;
    margin-bottom: 0.3em;
  }

  .board {
    height: 90%;
    width: 100%;
  }
  .row {
    height: 100%;
    width: 100%;
  }

  .tileEmpty,
  .tileFilled,
  .tileFilled2 {
    margin: 0.8%;
  }

  /* ====================KEYBOARD============================= */
  .keyboard {
    height: 27%;
    width: 100%;
  }

  .keyboard-container {
    height: 100%;
    width: 100%;
  }

  .line1,
  .line2,
  .line3 {
    height: 30.5%;
  }
  .key {
    margin: 0.4%;
  }
  .line3 > .big {
    width: 15%;
  }
}

/* =========================================================================================================================== */
/*  HEADING ANIMATION */
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.7s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-18 12:54:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ======================================================================================================= */
 /* background-image: linear-gradient(75deg, #514a9d, #24c6dc); */
  /* background-size: 400%; */